
@font-face{        /* Has to be in the same folder as css code to work  */ 
    src: url(fonts/BungeeInline-Regular.ttf);
    font-family:Bungee;
}

.grid{
    background:white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px,auto);
    grid-gap:1em;
    justify-items: stretch;     /* start,center,end x axis  */
    align-items:stretch;    /* start,center,end y axis strech=default  */
    text-align: center;
}

.introduction{
    background: white;
    grid-column: 1/4;       /* the number depends on grid-template columns having 3 columns means there are 4 lines for the entire line */
    text-align: left;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 80px;    /* because of header   */
    border-radius:2em; 
}

.title{
text-decoration-line: underline;
}



.headContainer{
    display:flex;
    position : fixed;   /*stays in the same place even if the page is scrolled */
    background-color:rgb(195, 228, 236);/* rgb(173, 228, 223); */
    justify-content: center;   /*set the alignment of primary axis (x) */ 
    height: 80px;
    align-items:center;    /*set the alignment of secondary axis (y) */ 
    Z-index: 2;              /* everything hides behinder the header   */
    top:0px;                /* so it is fixed to the sides of the page  */
    left:0;
    right:0;
    font-family: Bungee;
    font-size: 30px;
    text-align: center;
    text-decoration-line: underline;
}

