
@font-face{        /* Has to be in the same folder as css code to work  */ 

    src: url(fonts/BungeeInline-Regular.ttf);
    font-family:Bungee;
}

.grid{
    background:white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px,auto);
    grid-gap:1em;
    justify-items: stretch;     /* start,center,end x axis  */
    align-items:stretch;    /* start,center,end y axis strech=default  */
    text-align: center;
    text-decoration-line: underline;
}

.header{
    background: lightblue;
    grid-column: 1/4;
    grid-row:1/1;
    text-align: center;
    font-size: 30px;
    font-family: Bungee;
}

